<div class="container-fluid">
    <div class="row">

        <div class="col-xl-6">

            <div class="card">
                <div class="card-body">
            
            
                        <h5 class="ct">Condiciones de Venta</h5>
                    
                    
                        <table class="table table-hover">
                          <thead>                            
                            <tr>
                              <th>Código</th>
                              <th>Descripción</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Contado</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Crédito 15 días</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Crédito 30 días</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>Crédito 8 días</td>
                            </tr>
                          </tbody>
                        </table>
                            
            
            
            
                </div>
            </div>
            

        </div>

        <div class="col-xl-6">

          <div class="card">
              <div class="card-body">
                fsafdsaf
              </div>
          </div>
        </div>


    </div>
</div>    


