<div class="navside">

    <ul class="nav__list">

        <li><a href="#" data-section="mn00">Inicio</a></li>

        <li>
            <input id="group-1" type="checkbox" hidden />
            <label for="group-1"><span class="fa fa-angle-right color2"></span>Facturación</label>
                <ul class="group-list">
                    <li><a href="#">Configuración vendedor</a></li>
                    <li><a href="#">Cobradores de la empresa</a></li>
                    <li><a href="#">Vendedores de la empresa</a></li>
                    <li><a href="#" data-section="mn14">Condiciones de venta</a></li>
                    <li><a href="#">Lista de precios artículos</a></li>
                    <li><a href="#">Nombre listas de precios</a></li>
                    <li><a href="#">Combos y promociones</a></li>
                </ul>
        </li>
        <li>
        <input id="group-2" type="checkbox" hidden />
        <label for="group-2"><span class="fa fa-angle-right color2"></span>Stock de Artículos</label>
        <ul class="group-list">
            <li>
            <li><a href="#">1st level item</a></li>
            <li><a href="#">1st level item</a></li>
            <input id="sub-group-2" type="checkbox" hidden />
            <label for="sub-group-2"><span class="fa fa-angle-right color2"></span> Second level</label>
            <ul class="sub-group-list">
            <li><a href="#">2nd level nav item</a></li>
            <li><a href="#">2nd level nav item</a></li>
            <li>
                <input id="sub-sub-group-2" type="checkbox" hidden />
                <label for="sub-sub-group-2"><span class="fa fa-angle-right color2"></span> Third level</label>
                <ul class="sub-sub-group-list">
                <li><a href="#">3rd level nav item</a></li>
                </ul>
            </li>
            </ul>
            </li>
        </ul>
        </li>
        <li>
        <input id="group-3" type="checkbox" hidden />
        <label for="group-3"><span class="fa fa-angle-right color2"></span>Producción</label>
        <ul class="group-list">
            <li>
            <li><a href="#">1st level item</a></li>
            <li><a href="#">1st level item</a></li>
            <input id="sub-group-3" type="checkbox" hidden />
            <label for="sub-group-3"><span class="fa fa-angle-right color2"></span> Second level</label>
            <ul class="sub-group-list">
            <li><a href="#">2nd level nav item</a></li>
            <li><a href="#">2nd level nav item</a></li>
            <li><a href="#">2nd level nav item</a></li>
            <li>
                <input id="sub-sub-group-3" type="checkbox" hidden />
                <label for="sub-sub-group-3"><span class="fa fa-angle-right color2"></span> Third level</label>
                <ul class="sub-sub-group-list">
                <li><a href="#">3rd level nav item</a></li>
                <li><a href="#">3rd level nav item</a></li>
                <li><a href="#">3rd level nav item</a></li>
                </ul>
            </li>
            </ul>
            </li>
        </ul>
        </li>

        <li>
        <input id="group-4" type="checkbox" hidden />
        <label for="group-4"><span class="fa fa-angle-right color2"></span>Configuración Usuario</label>
        <ul class="group-list">
            <li>
            <li><a href="#">1st level item</a></li>
            <input id="sub-group-4" type="checkbox" hidden />
            <label for="sub-group-4"><span class="fa fa-angle-right color2"></span> Second level</label>
            <ul class="sub-group-list">
            <li><a href="#">2nd level nav item</a></li>
            <li><a href="#">2nd level nav item</a></li>
            </ul>
            </li>
        </ul>
        </li>

        <li>
            <input id="group-4" type="checkbox" hidden />
            <label for="group-4"><span class="fa fa-angle-right color2"></span>Configuración Sistema</label>
            <ul class="group-list">
                <li>
                    <li><a href="#">1st level item</a></li>
                    <input id="sub-group-4" type="checkbox" hidden />
                                    
                    <label for="sub-group-4"><span class="fa fa-angle-right color2"></span> Second level</label>
                    <ul class="sub-group-list">
                        <li><a href="#">2nd level nav item</a></li>
                        <li><a href="#">2nd level nav item</a></li>
                    </ul>
                </li>
            </ul>
        </li>

    </ul>

</div>                      