* {
    background-color: #343a40;
}





.color2 {
    background-color: rgb(58, 68, 78);
}

.c2 {
    background-color: #404954;
}






.container-fluid {
    background-color: rgb(58, 68, 78);
}




#menu_acordeon .accordion-header{
    background-color: rgb(58, 68, 78);;
}
#menu_acordeon .list-group-item{
    background-color: rgb(58, 68, 78);;
}



.card {
    color:  #aab8c5; 
}


.card-body {
    background-color: rgb(58, 68, 78);
}



form {
    background-color: transparent;
}

input {
    border-color: #4a525d!important;
    background-color: #404954!important;
}

input:focus {
    border-color: #4a525d!important;
    background-color: #343a40!important; 
}

/* Estilo para los labels dentro de los formularios */
form label {
    color: #aab8c5; 
}



table th {
    color: #aab8c5!important;
    background-color: rgb(58, 68, 78)!important;
    border-color:  #515c69!important;
    border-bottom-width: 2px!important;
}

table td {
    color: #aab8c5!important;
    background-color: rgb(58, 68, 78)!important;
    border-color:  #464f5b!important;
    border-color:  #515c69!important;
}


.ct {
    background-color: transparent;
}

.c2 {
    background-color: #404954;
}









.sideleft {
    background-color: rgb(58, 68, 78);
}


.navbar-brand {
    background-color: transparent;    
}



#i-menu{
    background-color: transparent;
}






/*   menu latareal */


.navside a, .navside label {    
    background-color: rgb(58, 68, 78);
  }