*{
    font-family:  'Nunito', sans-serif;    
}

/*
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
*/

html{
  height:100%;  
  font-size: 0.94em;
}



#root, .wrapper {
    height: 100vh; 
}
 



.sideleft {    
    background-color: transparent;
}



#idsideleft {      
  flex-grow: 1;
}
#idmain {    
  flex-grow: 9;
}

/* Media query para pantallas con un ancho menor a 768px */
@media (max-width: 767px) {
  #idsideleft {
      display: none;
  }
}


@media (min-width: 768px) {
  #idsideleft {
    display: block; 
    flex-grow: 1;
  }
  #idmain {    
    display: block; 
    flex-grow: 9;
  }
}








.sideleft {

    background-color: #343a40; /* Color de fondo */
    overflow-y: scroll; /* Habilita el desplazamiento vertical propio para sideleft */
    height: 100vh; /* Altura de la pantalla para sideleft */

    /* Cambia el ancho y el color de la barra de desplazamiento */
    scrollbar-width: thin; /* Ancho más delgado (puede variar según el navegador) */
    scrollbar-color: transparent transparent; /* Color transparente */

  }

  .main {
    /* Estilos para el contenido del main */
    height: 100vh; /* Altura de la pantalla para main */
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }



  
    /* scrollbar */
  ::-webkit-scrollbar {
    width: 2px;
  }  
  ::-webkit-scrollbar-thumb {
    background: gray;     
  }



  /*- tamaños -*/